
.navBox{
    border-color: black;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-width: 4px;
    border-radius: 5px;
    margin-bottom: 2vh;
}
.menuOption {
    margin-bottom: 1vh;
    margin-top: 2vh;
    margin-right: 2vh;
    margin-left: 2vh;
    font-size: 2vh;
    transition: color 0.75s ease;
    transition: border-color .75s ease;
    border-color: #ffeadc;
    border-width: 2px;
    border-radius: 11px;
    padding: .5vh;
    padding-left: 10px;
    padding-right: 10px;
    color: grey;
}

.menuOption:hover {
    color: black;
    cursor: pointer;
    border-color: black;
}