.navBox {
    border-color: var(--secondary-color);
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-width: 4px;
    border-radius: 5px;
}

.iconContainer{
    margin-top: 2vh;
}
.icon{
    margin-top: 0px;
    transition: margin-top ease-in 0.1s;
}

.icon:hover{
    margin-top:-1vh;
}
.nameMobile{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 25px;
}

.name{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.75vh;
    margin-right: 1vw;
    margin-top: 1.2vh;
}
.name:hover{
    cursor: pointer;
}
.mobileMenuOption {
    transition: color 1 ease;
    transition: border-color 1s ease-in-out;
    transition: background-color .75s ease-in-out;
    border-color: var(--primary-color);
    border-width: .3vh;
    border-radius: 10px;
    padding: .5vh;
    color: var(--tertiary-color);
}
.menuOption {
    margin-bottom: 1vh;
    margin-top: 2vh;
    margin-right: 1vw;
    margin-left: 2vh;
    transition: color 1 ease;
    transition: border-color 1s ease-in-out;
    transition: background-color .75s ease-in-out;
    border-color: var(--primary-color);
    border-width: .3vh;
    border-radius: 20px;
    padding: .5vh;
    padding-left: 11px;
    padding-right: 10px;
    color: var(--tertiary-color);
}

.menuOption:hover {
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* css for pages */
.textContainer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    animation: fadein 2s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sectionContainer {
    border-color: var(--secondary-color);

    border-bottom-width: 3px;
    border-top-width: 3px;
    border-radius: 10px;
    padding-top: 2vh;
    padding-bottom: 2vh;

}

.sectionTitle {
    font-size: 4.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.header {
    font-size: 3.25vh;
    padding-bottom: 2vh;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}

.bulletPoint {
    padding-bottom: 1vh;
    list-style-position: inside;
    font-size: 2vh;
    padding-left: 3vw;
}

.description {
    font-size: 20px;
    padding-bottom: 5vh;
    padding-top: 2vh;
}

.endPage{
    padding-top: 3vh;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background-color: var(--primary-color);
    }

    100% {
        opacity: 1;
        background-color: var(--primary-color);

    }
}

/* css for home page */
.mobileIcon{
    margin-top: -3vh;
}
.pfp{
    margin-top: 2vh;
    border-radius: 1000px;
}
.pfpTitle {
    font-size: 4.5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-weight: bold;
}

.pfpDescription {
    font-size: 20px;
    padding-bottom: 5vh;
    padding-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
}